.input,
input:focus,
input:valid {
  margin-top: 40px;
  padding: 8px;
  width: 360px;
  color: rgba(254, 251, 232, 0.5);
  border: 1px solid rgba(254, 251, 232, 0.5);
  border-radius: 2px;
  background-color: transparent;
}

.btn {
  padding: 8px 16px;
  background-color: rgba(254, 251, 232, 0.5);
  border-radius: 2px;
  border: none;
  margin-left: 4px;
  transition: transform 0.1s ease;
}

.btn:active {
  transform: scale(0.8);
}
